@charset 'UTF-8';
/* Slider */
.slick-loading .slick-list
{
    background: #fff url('./ajax-loader.gif') center center no-repeat;
}

/* Arrows */
.slick-prev,
.slick-next
{
    font-size: 0;
    line-height: 0;

    position: absolute;
    top: 50%;
    transform: translate(0, -50%);

    display: block;

    width:20%;
    height:20%; 
    padding: 0;
    z-index: 100;

    cursor: pointer;

    color: transparent;
    border:none;
    outline: none;

    transition: all 0.4s ease-in 0s; /* explorer 10 */
    -webkit-transition: all 0.4s ease-in 0s; /* chrome & safari */
    -moz-transition: all 0.4s ease-in 0s; /* firefox */
    -o-transition: all 0.4s ease-in 0s; /* opera */
}

.slick-prev
{
    left:-13%;
    background:url('../../Images/pfeil_prev.png') no-repeat center; background-size:contain;
}
.slick-next
{
    right:-13%;
    background:url('../../Images/pfeil_next.png') no-repeat center; background-size:contain;
}

.slick-prev:hover
{
    outline: none;
    transform: translate(0, -50%) scale(1.05) rotate(180deg);
}
.slick-next:hover
{
    outline: none;
    transform: translate(0, -50%) scale(1.05);
}

.slick-prev.slick-disabled,
.slick-next.slick-disabled
{
    opacity: .25;
    cursor: default;
}
.slick-prev.slick-disabled:hover,
.slick-next.slick-disabled:hover
{
    background-color:transparent;
}

/* Dots */
.slick-dotted.slick-slider
{
}

.slick-dots
{
    position: absolute;
    top: calc(50% - 35px);
    right:30px;

    display: block;

    padding: 0;
    margin: 0;

    list-style: none;

}
#produkte .slick-dots { right:0; }

.slick-dots li
{
    position: relative;

    display: block;

    width: 20px;
    height: 20px;
    margin: 10px 0;
    padding: 0;

    cursor: pointer;
}
.slick-dots li button
{
    display: block;

    width: 20px;
    height: 20px;
    border-radius: 10px;
    padding: 5px;

    cursor: pointer;

    color: transparent;
    border: 1px solid #ddd;
    outline: none;
    background: rgba(255,255,255,0.5);
}
.slick-dots li button:hover,
.slick-dots li button:focus
{
    background: rgba(255,255,255,1);

    outline: none;
}

.slick-dots li.slick-active button
{
    background: #3dcd58;

}


/* Kann maximal 1600px darstellen. */
@media only screen and (max-width : 1600px) {

}


/* Kann maximal 1024px darstellen. */
@media only screen and (max-width : 1024px) {

    .slick-prev,
    .slick-next { width:50px; height:50px; }
    .slick-prev { left: -5%; }
    .slick-next { right: -5%; }

}


/* Kann maximal 768px darstellen. */
@media only screen and (max-width : 768px) {



}