.wrapper {
  max-width:2000px;
  width:inherit !important;
}



/* -------------------------------------------------------------------------
 MEDIA QUERIES
 ------------------------------------------------------------------------- */

/* Kann maximal 2000px darstellen. */
@media only screen and (max-width : 2000px) {

  body { }
  h1 { font-size:2.8em; padding-bottom:4%; }
  h2 { font-size: 2.2em; padding-bottom: 4%; }
  h3 { font-size:1.6em; }


}


/* Kann maximal 1600px darstellen. */
@media only screen and (max-width : 1600px) {

  h1 { font-size:2.6em; padding-bottom:4%; }
  h2 { font-size:2.0em; padding-bottom: 4%; }
  h3 { font-size:1.5em; }

  #aktuellesTermine .wrapper { padding: 10% 3% 12%; }
}


/* Kann maximal 1400px darstellen. */
@media only screen and (max-width : 1400px) {

  h1 { font-size:2.5em; }
  h2 { font-size:1.9em; }

  #header .mitgliedWerden { font-size: 1.0em; }


}


/* Kann maximal 1200px darstellen. */
@media only screen and (max-width : 1200px) {

  .mainnav li.level_1 > a { padding: 0 1.5em; font-size: 1.1em; }

  #aktuellesTermine .wrapper { flex-wrap:wrap; flex-direction: column-reverse; }
  #aktuellesTermine .wrapper .flex_6 { width: 100%; order: revert; }
  #aktuellesTermine .termine { padding: 15% 15%; }
  #aktuellesTermine .aktuelles { padding-right: 0; margin-top:5%; }
  
}


/* Kann maximal 1024px darstellen. */
@media only screen and (max-width : 1024px) {

  body { line-height: 140%; }
  h1 { font-size:2.3em; }
  h2 { font-size:1.7em; }
  h3 { font-size:1.3em; line-height: 120%;}

  .pancake { display:block; }
  .mainnav { display:none; position:fixed; top:0; left:0; padding:80px 5% 0; margin-top:0; background:rgba(124,13,15,0.9); overflow:scroll; width:100%; height:100%; z-index:2999; }
  .mainnav.active { display:block; }

  .mainnav ul.list1 { justify-content: flex-start; flex-direction:column; overflow:scroll; margin:0; }
  .mainnav li.level_1 { margin:1% 0; width:100%; padding:1%; }
  .mainnav li.level_1:after { display:none; }
  .mainnav li.level_1 > a { padding: 10px 0px 10px; }
  .mainnav li.level_1:hover > a { border-bottom:none; }
  .mainnav li.level_1.active > a { font-weight:700; border-bottom:none; }

  .mainnav ul.list2 { height:auto; margin:0; padding:0; border-bottom:none; left: inherit; overflow: inherit; background:none; position: relative; top: inherit; opacity:1; }
  .mainnav li.level_2 { margin: 10px 5%; width:auto; }
  .mainnav li.level_2 a { padding:0; color:#FFF;  }
  .mainnav li.level_2.active > a { background:none; color: #FFF; font-weight: 700; }
  .mainnav li.level_2 a:hover { background:none; color: #FFF; }
} 


/* Kann maximal 1024px darstellen und Querformat. */
@media only screen and (max-width : 1024px) and (orientation:landscape) {


}


/* Kann maximal 880px darstellen. */
@media only screen and (max-width : 880px) {

  .startseite #main .wrapper > div { width: 100%; }
  
}


/* Kann maximal 800px darstellen. */
@media only screen and (max-width : 800px) {


}


/* Kann maximal 768px darstellen. */
@media only screen and (max-width : 768px) {

  body { font-size: 20px; }
  h1 { font-size:1.8em; }
  h2 { font-size:1.4em; }
  
  .grid_12 { display: block; }

  #main #choere .choere-box { width: 100%; padding: 2em 0 0; }
  #main #choere .choere-box:hover  { transform: scale(1.00); }

}


/* Kann maximal 768px darstellen und Hochformat. */
@media only screen and (max-width : 768px) and (orientation: portrait) {

  #header > .wrapper { padding:0 5% 10%; }
  .startseite #header > .wrapper { padding:0 5%; }
  #main .wrapper { padding:7% 5%;  }
  #aktuellesTermine .wrapper { padding: 10% 5% 12%; }
  #aktuellesTermine .termine { margin: 0 -3%; width:106% !important; }

  #choere .wrapper { padding:7% 5%; }
  #choere h2 { padding-left: 0em; }
  #footer .wrapper { padding: 30% 5% 0; flex-direction: column-reverse; }
  .footernav_box { margin-top:10%; }

}


/* Hochformat */
@media only screen and (orientation: portrait) {

}


/* Kann maximal 568px darstellen. */
@media only screen and (max-width : 568px) {

  .ce-gallery figure { display: block; }
  .ce-left .ce-gallery, .ce-column,
  .ce-right .ce-gallery, .ce-column { float: none; }
  .ce-gallery img { width: 100%; }
  .ce-gallery figcaption { display:block; }
  .ce-intext.ce-left .ce-gallery { margin-right: 0; margin-bottom:0; }
  .ce-intext.ce-right .ce-gallery { margin-left: 0; margin-bottom:0; }
  .ce-row:last-child .ce-column { margin-bottom: 0; }

  #header > .wrapper { flex-direction: column; }
  #navigation { order:3; }
  #header .logo { order:2; }
  #header .mitgliedWerden { order:1; padding: 2% 12% 0 5%;}

  .pancake { top:30px; }

}
  
  
/* Kann maximal 500px darstellen. */
@media only screen and (max-width : 500px) {



}