/* --------- Pfannkuchen-Button -------------*/ 
.pancake { z-index: 3000; display:none; position:absolute; right: 5%; top:90px; cursor:pointer; width:50px; height:40px; }
.pancake .line-top { position:absolute; width:50px; height:6px; top:0px; left:0px; background:#FFF; border-radius:3px; }
.pancake .line-middle { position:absolute; width:50px; height:6px; top:17px; left:0px; background:#FFF; border-radius:3px; }
.pancake .line-bottom { position:absolute; width:50px; height:6px; bottom:0px; left:0px; background:#FFF; border-radius:3px; }
.pancake:hover {  }
.pancake:hover .line-top { position:absolute; width:50px; height:6px; top:0px; left:0px; background:#FFF; }
.pancake:hover .line-middle { position:absolute; width:50px; height:6px; top:17px; left:0px; background:#FFF; }
.pancake:hover .line-bottom { position:absolute; width:50px; height:6px; bottom:0px; left:0px; background:#FFF; }

.pancake.active .line-top { transform:rotate(-45deg); top:17px; }
.pancake.active .line-middle { display:none; }
.pancake.active .line-bottom { transform:rotate(45deg); bottom:17px; }


/* --------- Hauptnavigation -------------*/ 
.mainnav { box-sizing: border-box; position: relative; }
.mainnav ul { margin:0; padding:0; list-style:none; }
.mainnav li { position:relative; }
.mainnav li a { display:inline-block; text-decoration:none; color:#FFF;
  -moz-transition:0.5s;
  -o-transition:0.5s;
  -webkit-transition:0.5s;
  transition:0.5s;
}

/*------ 1. Ebene ----------------*/
.mainnav ul.list1 { position:relative; display: flex; }
.mainnav li.level_1 { box-sizing:border-box; display:block;
  transition: all 0.4s ease-in 0s; /* explorer 10 */
  -webkit-transition: all 0.4s ease-in 0s; /* chrome & safari */
  -moz-transition: all 0.4s ease-in 0s; /* firefox */
  -o-transition: all 0.4s ease-in 0s; /* opera */
}
.mainnav li.level_1 > a { text-transform: uppercase; position:relative; font-weight:300; box-sizing:border-box; line-height:100%; padding:0 2em; font-size:1.2em; }
.mainnav li.level_1:first-child a { padding-left:0; }
.mainnav li.level_1:last-child a { padding-right:0; }
.mainnav li.level_1 > a:hover { color:#FFF; }
.mainnav li.level_1.active > a { color:#FFF; font-weight:700; }


.mainnav li.level_1:hover > ul.list2 { height: auto; width: auto; opacity: 1; z-index: 400; }

/*------ 2. Ebene ----------------*/
.mainnav ul.list2 { padding:0 2em; position:absolute; left:0; height:0; opacity: 0; overflow: hidden; box-sizing:border-box; background: #FFF; border-radius: 0.5em;
    z-index: 300;
    transition: 1s;}
.mainnav li.level_2 { box-sizing:border-box; display:block; padding-top:1%; width: 100%; 
  transition: all 0.4s ease-in 0s; /* explorer 10 */
  -webkit-transition: all 0.4s ease-in 0s; /* chrome & safari */
  -moz-transition: all 0.4s ease-in 0s; /* firefox */
  -o-transition: all 0.4s ease-in 0s; /* opera */
}
.mainnav li.level_2:first-child { margin-top:1em; }
.mainnav li.level_2:last-child { margin-bottom:1em; }
.mainnav li.level_2 > a { position:relative; font-weight:300; box-sizing:border-box; white-space: nowrap; line-height:100%; padding:10px; font-size:1.0em; color:#000; width: 100%; border-radius: 0.5em; }
.mainnav li.level_2 > a:hover { background:#bc2b21; color:#FFF; }
.mainnav li.level_2.active > a { background:#942024; color:#FFF; }


/* Kann maximal 880px darstellen. */
@media only screen and (max-width : 880px) {

  .mainnav li.level_1 > a { font-size:1.2em; }
  .mainnav .wrapper { padding:15% 3% 3%; }

}

/* Kann maximal 768px darstellen. */
@media only screen and (max-width : 768px) {

  .mainnav li.level_1 > a { font-size:1.0em; }
  .mainnav .wrapper { padding:20% 3% 3%; }

}